<a [routerLink]="['/tasks', task()._id]" class="task-short">
	<div class="task-short__title">{{ task().title }}</div>

	@if (tags().length) {
		<div class="task-short__tags">
			@for (tag of tags(); track tag._id) {
				<p-tag [value]="tag.name" [severity]="tag.severity" />
			}
		</div>
	}

	<div class="task-short__meta">
		<p-tag
			[severity]="prioritySeverity()"
			[value]="
				task().priority === 'high'
					? 'Високий'
					: task().priority === 'medium'
						? 'Середній'
						: 'Низький'
			"
		/>

		<span class="task-short__assignee">{{ task().assignee }}</span>
	</div>
</a>
