<a [routerLink]="['/tasks', task()._id]" class="task-card">
	<div class="task-card__title">{{ task().title }}</div>

	@if (tags().length) {
		<div class="task-card__tags">
			@for (tag of tags(); track tag._id) {
				<p-tag [value]="tag.name" [severity]="tag.severity" />
			}
		</div>
	}

	<div class="task-card__meta">
		<p-tag
			[severity]="prioritySeverity()"
			[value]="
				task().priority === 'high'
					? 'Високий'
					: task().priority === 'medium'
						? 'Середній'
						: 'Низький'
			"
		/>

		<span class="task-card__assignee">{{ task().assignee }}</span>
	</div>
</a>
